/* CSS Document */
body {
	background-color: #c0a172;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 1000px;
	margin: 10px auto;
	background-color: #FFF;
	padding: 0 20px;
}

#logo {
	float: left;
	margin: 20px 0;
}

#social-media {
	float: right;
	margin-top: 10px;
}

#social-media ul li {
	display: inline;
	list-style-type: none;
}

#social-media p {
	text-align: right;
	font-size: 16px;
}

#topnav {
	clear: both;
}

#content {
	float: left;
	width: 580px;
	padding-bottom: 50px;
}

.table1 {
	border: 1px solid black;
}

.table1 th {
	border: 1px solid black;
	height: 50px;
}

.table1 td {
	border: 1px solid black;
	height: 50px;
}

.table1 {
	border-collapse: collapse;
	width: 100%;
}

.table1 td, th {
	padding: 10px;
	text-align: left;
}

#content p {
	font-size: 12px;
	line-height: 180%;
}

#content h1, h2, h3, h4 {
	color: #333;
}

#right-side {
	float: right;
	width: 300px;
	padding-top: 10px;
}

#addressList {
	list-style-type: none;
}

#right-side h2, h3 {
	color: #333;
}

#right-side p {
	font-size: 13px;
	line-height: 180%;
}

#right-side li {
	font-size: 13px;
	line-height: 180%;
}

#box1 {
	width: 265px;
	float: left;
	margin-right: 40px;
}

#box2 {
	width: 265px;
	float: left;
	p: align-right;
}

#buttonmushroom {
	width: 265px;
	float: left;
	p: align-right;
}

#button_mushroom_text {
	float: right;
	width: 301px;
}

#signup-content {
	float: left;
	width: 580px;
	padding-bottom: 50px;
}


#signup-right-side {
	float: right;
	width: 400px;
	padding-top: 10px;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#confirmation {
	display: block;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

#signup-box {
	width: 400px;
	padding: 10px;
	margin: 40px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

#firstname_error, #lastname_error, #email_error, #password_error,
	#address_error, #postcode_error, #phone_error {
	color: red;
}

.footer-container p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.footer-container {
	clear: both;
	border-top: 1px #666 solid;
	padding: 10px 0;
}